body {
    background: #e8e8e8;
    font-family: "Open Sans", sans-serif;
}
h1 {
    color: #eabdd1;
}




.loader {
    border: 16px solid #eabdd1;
    border-top: 16px solid rgb(194, 122, 134);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    animation: spin 3s linear infinite;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}